<link rel="icon" href="public/images/supply.png" type="image/png">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<nav class="navbar navbar-light bg-dark shadow-sm p-3.01 mb-5" style="padding-bottom: 38px;">
    <div class="container-fluid">
      <a class="navbar-brand">SH</a>
      <div class="d-flex">
        <i class='fas fa-user-circle' style="font-size:24px; margin-top: 22px; margin-right:10px; color:#fff;"></i> 
         <strong class="justify-content-end" style="margin-right: 10px; margin-top: 19px; color: #fff">Welcome,Shlok! </strong> 
        <a class="btn btn-sm btn-outline-danger justify-content-end" style="margin-top: 15px;" href="/users/logout">Logout</a>
      </div>
    </div>
  </nav>
